<head>
  <meta charset="utf-8">
  {{ template "_internal/schema.html" . }}

  {{ partial "meta" . }}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index,all,follow">
  <meta name="googlebot" content="index,follow,snippet,archive">

  {{ template "_internal/opengraph.html" . }}
  
  {{ template "_internal/twitter_cards.html" . }}

  {{ partial "favicon.html" . }}

  {{ if .Site.Params.rss }}
    {{ with .OutputFormats.Get "RSS" }}
      {{ printf `<link href="%s" rel="%s" type="%s" title="%s" />` .Permalink .Rel .MediaType.Type $.Site.Title | safeHTML }}
    {{ end }}
  {{ end }}

  {{ partial "links.html" . }}
</head>