{{ $css := resources.Get "css/style.css" }}
{{ $faCss := resources.Get "font-awesome/css/all.css" }}
{{ $styleBundle := slice $css $faCss | resources.Concat "css/bundle.css" | resources.Minify | fingerprint}}

{{ $faJs := resources.Get "font-awesome/js/all.js" }}
{{ $jquery := resources.Get "lib/jquery/jquery.min.js" }}
{{ $jsMain := resources.Get "js/main.js" }}
{{ $jsBundle := slice $faJs $jquery $jsMain | resources.Concat "js/bundle.js" | resources.Minify | fingerprint}}

{{ $ptSerif := resources.Get "fonts/PT_Serif/PTSerif-Regular.ttf" }}

<link rel="preload" href="{{ $ptSerif.RelPermalink }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ $styleBundle.RelPermalink }}" as="style">

<noscript>
    <link rel="stylesheet" href="{{ $styleBundle.RelPermalink }}">
</noscript>
<link rel="stylesheet" href="{{ $styleBundle.RelPermalink }}">
<script src="{{ $jsBundle.RelPermalink }}" defer></script>
